$maincolor: #EDC7B7;
$altcolor: #ffc9b3;
$headcolor: #AC3B61;
$textcolor: #123C69;


// * {
//     border: black 1px solid;
// }

body {
    background-color: $maincolor;
    color: $textcolor;
    text-align: center;
    margin: auto;
}

.App > * {
    margin: auto;
}

.all-bookmarks {
    display: flex;
    flex-direction: column;
}

h1 {
    color: $headcolor
}

.bookmark  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bookmark * {
    padding: .1em;
    font-size: 36px;
}

nav {
    display: flex;
    font-size: 20px;
    background-color: $textcolor;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

nav > *{
    margin: 0 3em;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav h2 {
    border-radius: 10px;
    background-color:$altcolor;
    color: $headcolor;
    padding: .5em;
    box-shadow: 10px 10px;
    margin: 0 3em;
}

a {
    text-decoration: none;
}

.delete-button {
    cursor: pointer;
}

.title *{
    color: $maincolor;
    text-shadow: 5px 5px $headcolor;
    font-size: 48px;
}

.page-title {
    border: 10px double $headcolor;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    font-size: 48px;
}